.home {
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

._3-cols-main-william {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.subtitle {
    font-size: 2.5rem;
}

.name-color {
    color: #717cdc;
}

.myPicture {
    max-width: 600px;
    z-index: 3;
}
