.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 20px;
}

.logo {
    width: 80px;
}

.nav ul {
    display: flex;
}

.nav {
    list-style: none;
    font-size: 1.3rem;
    padding: 8px 15px;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    margin-right: 20px;
}

.nav a:nth-child(4) {
    border-right: 2px solid #717cdc;
    padding-right: 40px;
}

.language {
    margin-left: 12px;
}

.arrowDown {
    margin-left: 5px;
}

.active {
    border-bottom: #fff 2px solid;
}
