.aboutMe {
    height: 90vh;
}

.flexContent {
    display: flex;
}

.aboutMe .title {
    margin-top: 50px;
    padding-bottom: 10px;
}

.aboutMeText {
    font-family: 'SUSE', system-ui;
    font-size: 1.4rem;
    text-align: justify;
    padding-right: 100px;
}

.mySelf {
    max-width: 550px;
}

.elementAbsolute {
    width: 50%;
    position: relative;
    top: -150px;
}

.studyContainer .container .col {
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 50px;
}

.studyContainer .title {
    padding-bottom: 50px;
}

.techText {
    font-size: 1.3rem;
    font-weight: bold;
}

.icon {
    color: #717cdc;
    font-size: 6rem;
}

.techText {
    text-align: center;
    padding-top: 10px;
}
