.aboutMe {
    height: 90vh;
}

.flexContent {
    display: flex;
    /* align-items: center; */
}

.aboutMe .title {
    margin-top: 50px;
    position: relative;
    display: block;
    padding-bottom: 10px;
}

.aboutMeText {
    font-family: 'SUSE', system-ui;
    font-size: 1.4rem;
    text-align: justify;
    padding-right: 100px;
}

.mySelf {
    max-width: 550px;
}

.elementAbsolute {
    width: 50%;
    position: relative;
    top: -150px;
}

.studyContainer .title {
    padding-bottom: 50px;
}

.techText {
    font-size: 1.3rem;
    font-weight: bold;
}

.iconsContainer {
    display: flex;
    gap: 35px;
    font-size: 4rem;
    margin-bottom: 200px;
}

.icon {
    color: #717cdc;
}
