:root {
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 4rem;
}

@media (max-width: 575px) {
    .title {
        text-align: center;
    }
}
