.cardsContainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .title {
    margin-top: 50px;
    padding-bottom: 10px;
}

.portfolio {
    padding-bottom: 100px;
}

.card {
    border: 1px solid #fff;
}

.card-title {
    color: #717cdc;
}

.card-text {
    font-size: 1.1rem !important;
}
